
<div class="jumbotron">
      <div class="container">
        <h1><%=@product.name%></h1>
        <h3>€ <%= number_with_precision(@product.price, :precision => 2) %></h3>
        <p><%=@product.description %> </p>

        <%= form_for [@product, @product.selections.new] do |f| %>
        <div class="form-group">
          <label class="col-lg-1">Amount:</label>
            <div class="col-lg-2">
              <%= f.number_field :amount, placeholder: "eg. 5", class: "form-control" %>
            </div>
        </div>

        <div class="actions">
          <%= f.submit "Buy", class: "btn btn-primary" %>
        </div>

        <% end %>


      </div>
    </div>
